# PyCity Schools Data Analysis

- Your analysis here
  
---

In [42]:
# Dependencies
import pandas as pd
from pathlib import Path

# Store file path as variable
school = Path("schools_complete.csv")
student = Path("students_complete.csv")

# Store both csv files as DataFrame
school_df = pd.read_csv(school)
student_df = pd.read_csv(student)

# Merge DFs 
comprehensive = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
comprehensive.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [43]:
# Count of unique schools
NumSchool = len(comprehensive["school_name"].unique())
NumSchool

15

In [44]:
# Count of students
SumStudent = len(comprehensive["Student ID"].unique())
SumStudent

39170

In [45]:
# Calculate total budget for all schools combined
TotBudget = comprehensive.drop_duplicates(subset=['school_name'])
SumBudget = TotBudget.budget.sum()
SumBudget

24649428

In [46]:
# average math score
MeanMath = comprehensive.math_score.mean()
MeanMath

78.98537145774827

In [47]:
# average reading score
MeanRead = comprehensive.reading_score.mean()
MeanRead

81.87784018381414

In [48]:
# % of students with passing math scores
MathPass = comprehensive[(comprehensive["math_score"] >= 70)].count()["student_name"]
MathPass_pct = MathPass / float(SumStudent) * 100
MathPass_pct

74.9808526933878

In [49]:
# % of students with passing reading scores  
ReadPass = comprehensive[(comprehensive["reading_score"] >= 70)].count()["student_name"]
ReadPass_pct = ReadPass / float(SumStudent) * 100
ReadPass_pct

85.80546336482001

In [50]:
# % of students that passed both courses
AllPass = comprehensive[(comprehensive["math_score"] >= 70) & (comprehensive["reading_score"] >= 70)].count()["student_name"]
AllPass_pct = AllPass / float(SumStudent) * 100
AllPass_pct

65.17232575950983

In [51]:
# Summary/Analysis of data set
# Create new DF using prev variables
CompSummary = pd.DataFrame({"Total Schools": [NumSchool], "Total Students": [SumStudent], 
                           "Total Budget": [SumBudget], "Avg Math Score": [MeanMath],
                           "Avg Reading Score": [MeanRead], "% Passing Math": [MathPass_pct],
                           "% Passing Reading": [ReadPass_pct], "% Overall Passing": [AllPass_pct]})

# Format values
CompSummary["Total Students"] = CompSummary["Total Students"].map("{:,}".format)
CompSummary["Total Budget"] = CompSummary["Total Budget"].map("${:,.2f}".format)

# Display the (new) summary df
CompSummary

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [ ]:
# Use the code provided to select all of the school types

In [65]:
# Calculate the total student count per school
Students_ps = comprehensive.school_name.value_counts()
Students_ps = Students_ps.reset_index()
Students_ps.columns = ['school_name', 'Student Count']
Students_ps

              school_name  Student Count
0      Bailey High School           4976
1     Johnson High School           4761
2   Hernandez High School           4635
3   Rodriguez High School           3999
4    Figueroa High School           2949
5       Huang High School           2917
6        Ford High School           2739
7      Wilson High School           2283
8     Cabrera High School           1858
9      Wright High School           1800
10    Shelton High School           1761
11     Thomas High School           1635
12    Griffin High School           1468
13       Pena High School            962
14     Holden High School            427

In [60]:
# Calculate the total budget per school
Budget_ps = TotBudget.set_index("school_name")
Budget_ps = Budget_ps['budget']
Budget_ps = Budget_ps.reset_index()
Budget_ps

              school_name   budget
0       Huang High School  1910635
1    Figueroa High School  1884411
2     Shelton High School  1056600
3   Hernandez High School  3022020
4     Griffin High School   917500
5      Wilson High School  1319574
6     Cabrera High School  1081356
7      Bailey High School  3124928
8      Holden High School   248087
9        Pena High School   585858
10     Wright High School  1049400
11  Rodriguez High School  2547363
12    Johnson High School  3094650
13       Ford High School  1763916
14     Thomas High School  1043130

In [69]:
# merge DF for budget per school and students per school
StudBud_df = pd.merge(Budget_ps, Students_ps, on="school_name")

# calculate per capita spending per school
StudBud_df["Spend per Capita"] = StudBud_df["budget"] / StudBud_df["Student Count"]
StudBud_df["Spend per Capita"] = StudBud_df["Spend per Capita"].map("${:,.2f}".format)
StudBud_df

              school_name   budget  Student Count Spend per Capita
0       Huang High School  1910635           2917          $655.00
1    Figueroa High School  1884411           2949          $639.00
2     Shelton High School  1056600           1761          $600.00
3   Hernandez High School  3022020           4635          $652.00
4     Griffin High School   917500           1468          $625.00
5      Wilson High School  1319574           2283          $578.00
6     Cabrera High School  1081356           1858          $582.00
7      Bailey High School  3124928           4976          $628.00
8      Holden High School   248087            427          $581.00
9        Pena High School   585858            962          $609.00
10     Wright High School  1049400           1800          $583.00
11  Rodriguez High School  2547363           3999          $637.00
12    Johnson High School  3094650           4761          $650.00
13       Ford High School  1763916           2739          $644.00
14     Thomas High School  1043130           1635          $638.00

In [ ]:
# Calculate the average test scores per school
per_school_math = 
per_school_reading =

In [ ]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = 
school_students_passing_math =

In [ ]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = 
school_students_passing_reading =

In [ ]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [ ]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [ ]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = 

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = 
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = 
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = 
tenth_grader_reading_scores = 
eleventh_grader_reading_scores = 
twelfth_grader_reading_scores = 

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = 

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary